# Live Class - Data Transformation

In [1]:
# Shift + Enter           -> RUN the code cell
# Ctrl + M                -> convert code cell to MARKDOWN cell
# Ctrl + Shift + Arrow Up -> move cell UP

In [2]:
print("hello world")
print("This is R programming language")

[1] "hello world"
[1] "This is R programming language"

# MARKDOWN cell -> Hello World

In [3]:
x <- 100
y <- 150
m <- "Hello"

In [4]:
head(mtcars)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>,<dbl>
Mazda RX4,21.0,6,160,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225,105,2.76,3.460,20.22,1,0,3,1

# Homework - Sprint 04 - Data Transformation

# NYC Flights 2013 Analysis

In [5]:
install.packages("nycflights13")

library(tidyverse)
library(nycflights13)

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
Warning message:
“Failed to locate timezone database”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()  masks stats::filter()
✖ purrr::flatten() masks jsonlite::flatten()
✖ dplyr::lag()     masks stats::lag()

In [6]:

flights <- nycflights13::flights
airlines <- nycflights13::airlines
airports <- nycflights13::airports
planes <- nycflights13::planes
weather <- nycflights13::weather
flights2 <- read_csv("nycflights13_flights.csv", show_col_types = FALSE)

In [7]:
glimpse(flights)
cat("\n")
glimpse(airlines)
cat("\n")
glimpse(airports)
cat("\n")
glimpse(planes)
cat("\n")
glimpse(weather)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <dttm> 2013-01-01 10:00:00, 2013-01-01 10:00:00, 2013-01-01 1…

Rows: 16
Columns: 2
$ carrier <chr> "9E", "AA", "AS", "B6", "DL", "EV", "F9", "FL", "HA", "MQ", "O…
$ name    <chr> "Endeavor Air Inc.", "American Airlines Inc.", "Alaska Airline…

Rows: 1,458
Columns: 8
$ faa   <chr> "04G", "06A", "06C", "06N", "09J", "0A9", "0G6", "0G7", "0P2", "…
$ name  <chr> "Lansdowne Airport", "Moton Field Municipal Airport", "Schaumbur…
$ lat   <dbl> 41.13047, 32.46057, 41.98934, 41.43191, 31.07447, 36.37122, 41.4…
$ lon   <dbl> -80.61958, -85.68003, -88.10124, -74.39156, -81.42778, -82.17342…
$ alt   <dbl> 1044, 264, 801, 523, 11, 1593, 730, 492, 1000, 108, 409, 875, 10…
$ tz    <dbl> -5, -6, -6, -5, -5, -5, -5, -5, -5, -8, -5, -6, -5, -5, -5, -5, …
$ dst   <chr> "A", "A", "A", "A", "A", "A", "A", "A", "U", "A", "A", "U", "A",…
$ tzone <chr> "America/New_York", "America/Chicago", "America/Chicago", "Ameri…

Rows: 3,322
Columns: 9
$ tailnum      <chr> "N10156", "N102UW", "N103US", "N104UW", "N10575", "N105UW…
$ year         <int> 2004, 1998, 1999, 1999, 2002, 1999, 1999, 1999, 1999, 199…
$ type         <chr> "Fixed wing multi engine", "Fixed wing multi engine", "Fi…
$ manufacturer <chr> "EMBRAER", "AIRBUS INDUSTRIE", "AIRBUS INDUSTRIE", "AIRBU…
$ model        <chr> "EMB-145XR", "A320-214", "A320-214", "A320-214", "EMB-145…
$ engines      <int> 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, …
$ seats        <int> 55, 182, 182, 182, 55, 182, 182, 182, 182, 182, 55, 55, 5…
$ speed        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ engine       <chr> "Turbo-fan", "Turbo-fan", "Turbo-fan", "Turbo-fan", "Turb…

Rows: 26,115
Columns: 15
$ origin     <chr> "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EW…
$ year       <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013,…
$ month      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ day        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ hour       <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, …
$ temp       <dbl> 39.02, 39.02, 39.02, 39.92, 39.02, 37.94, 39.02, 39.92, 39.…
$ dewp       <dbl> 26.06, 26.96, 28.04, 28.04, 28.04, 28.04, 28.04, 28.04, 28.…
$ humid      <dbl> 59.37, 61.63, 64.43, 62.21, 64.43, 67.21, 64.43, 62.21, 62.…
$ wind_dir   <dbl> 270, 250, 240, 250, 260, 240, 240, 250, 260, 260, 260, 330,…
$ wind_speed <dbl> 10.35702, 8.05546, 11.50780, 12.65858, 12.65858, 11.50780, …
$ wind_gust  <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, 20.…
$ precip     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ pressure   <dbl> 1012.0, 1012.3, 1012.5, 1012.2, 1011.9, 1012.4, 1012.2, 101…
$ visib      <dbl> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,…
$ time_hour  <dttm> 2013-01-01 06:00:00, 2013-01-01 07:00:00, 2013-01-01 08:00…

# Q1: Which airlines had the least departure delay at the beginning of 2013?

In [8]:
flights %>%
    filter(year == 2013, month == 1, day == 1) %>%
    select(carrier, dep_delay) %>%
    arrange(dep_delay) %>%
    head(5) %>%
    inner_join(airlines, by = "carrier")

carrier,dep_delay,name
<chr>,<dbl>,<chr>
MQ,-15,Envoy Air
AA,-15,American Airlines Inc.
F9,-14,Frontier Airlines Inc.
EV,-13,ExpressJet Airlines Inc.
B6,-12,JetBlue Airways

# Q2: Which destinations did people travel to the most during the summer (July, August, and September) of 2013?

In [9]:
flights %>%
    filter(!is.na(dep_time), year == 2013, month %in% c(7,8,9)) %>%
    select(year, month, dest) %>%
    group_by(year, month, dest) %>%
    summarise(n_filghts = n()) %>%
    arrange(desc(n_filghts)) %>%
    head(5) %>%
    inner_join(airports %>% 
                    select(faa, name), 
               by = c("dest" = "faa"))

`summarise()` has grouped output by 'year', 'month'. You can override using the `.groups` argument.

year,month,dest,n_filghts,name
<int>,<int>,<chr>,<int>,<chr>
2013,8,ORD,1571,Chicago Ohare Intl
2013,9,ORD,1517,Chicago Ohare Intl
2013,8,LAX,1502,Los Angeles Intl
2013,7,ORD,1499,Chicago Ohare Intl
2013,7,LAX,1497,Los Angeles Intl

# Q3: Which airlines had the most canceled flights in 2013?

In [10]:
na_deptime <- flights %>% 
  filter(is.na(dep_time)) %>% 
  group_by(carrier) %>% 
  summarise(canceled_flights = n())

flights %>% 
  inner_join(airlines, by = "carrier") %>% 
  group_by(carrier, name) %>% 
  select(carrier, name) %>% 
  summarise(scheduled_flights = n()) %>%
  inner_join(na_deptime, by = "carrier") %>% 
  mutate(canceled_flights_proportion = 
      round((canceled_flights/scheduled_flights), 4)) %>% 
  arrange(desc(canceled_flights_proportion)) %>% 
  head(5)

`summarise()` has grouped output by 'carrier'. You can override using the `.groups` argument.

carrier,name,scheduled_flights,canceled_flights,canceled_flights_proportion
<chr>,<chr>,<int>,<int>,<dbl>
OO,SkyWest Airlines Inc.,32,3,0.0938
YV,Mesa Airlines Inc.,601,56,0.0932
9E,Endeavor Air Inc.,18460,1044,0.0566
EV,ExpressJet Airlines Inc.,54173,2817,0.0520
MQ,Envoy Air,26397,1234,0.0467

# Q4: How much was the total traveled distance of each airline each month in 2013?

In [11]:
flights %>%
    filter(!is.na(dep_time)) %>%
    inner_join(airlines, by = "carrier") %>% 
    group_by(month, carrier, name) %>%
    summarise(n_flights = n(), 
              total_distance_in_miles = round(sum(distance), 2)) %>%
    arrange(carrier)

`summarise()` has grouped output by 'month', 'carrier'. You can override using the `.groups` argument.

month,carrier,name,n_flights,total_distance_in_miles
<int>,<chr>,<chr>,<int>,<dbl>
1,9E,Endeavor Air Inc.,1498,717534
2,9E,Endeavor Air Inc.,1353,637366
3,9E,Endeavor Air Inc.,1514,723266
4,9E,Endeavor Air Inc.,1407,691754
5,9E,Endeavor Air Inc.,1388,701809
6,9E,Endeavor Air Inc.,1276,677990
7,9E,Endeavor Air Inc.,1364,736838
8,9E,Endeavor Air Inc.,1378,748201
9,9E,Endeavor Air Inc.,1477,858655
10,9E,Endeavor Air Inc.,1642,976350
11,9E,Endeavor Air Inc.,1575,924766
12,9E,Endeavor Air Inc.,1544,862113
1,AA,American Airlines Inc.,2735,3700495
2,AA,American Airlines Inc.,2405,3250603
3,AA,American Airlines Inc.,2746,3705882
4,AA,American Airlines Inc.,2663,3579654
5,AA,American Airlines Inc.,2770,3714520
6,AA,American Airlines Inc.,2700,3610326
7,AA,American Airlines Inc.,2797,3715661
8,AA,American Airlines Inc.,2830,3754622
9,AA,American Airlines Inc.,2584,3471602
10,AA,American Airlines Inc.,2706,3619786
11,AA,American Airlines Inc.,2558,3443842
12,AA,American Airlines Inc.,2599,3537725
1,AS,Alaska Airlines Inc.,62,148924
2,AS,Alaska Airlines Inc.,54,129708
3,AS,Alaska Airlines Inc.,62,148924
4,AS,Alaska Airlines Inc.,60,144120
5,AS,Alaska Airlines Inc.,62,148924
6,AS,Alaska Airlines Inc.,60,144120
⋮,⋮,⋮,⋮,⋮
7,VX,Virgin America,486,1215475
8,VX,Virgin America,489,1223059
9,VX,Virgin America,453,1132851
10,VX,Virgin America,471,1177783
11,VX,Virgin America,443,1108258
12,VX,Virgin America,468,1169900
1,WN,Southwest Airlines Co.,985,928940
2,WN,Southwest Airlines Co.,861,817643
3,WN,Southwest Airlines Co.,955,940306
4,WN,Southwest Airlines Co.,966,955058
5,WN,Southwest Airlines Co.,988,979018
6,WN,Southwest Airlines Co.,1018,1033205
7,WN,Southwest Airlines Co.,1065,1081410
8,WN,Southwest Airlines Co.,1047,1065845
9,WN,Southwest Airlines Co.,1007,1024462
10,WN,Southwest Airlines Co.,1089,1103138
11,WN,Southwest Airlines Co.,1028,1035873
12,WN,Southwest Airlines Co.,1074,1085029
1,YV,Mesa Airlines Inc.,39,8931
2,YV,Mesa Airlines Inc.,46,10534
3,YV,Mesa Airlines Inc.,18,4122
4,YV,Mesa Airlines Inc.,36,14859
5,YV,Mesa Airlines Inc.,44,17951
6,YV,Mesa Airlines Inc.,39,15231
7,YV,Mesa Airlines Inc.,69,29976
8,YV,Mesa Airlines Inc.,60,26340
9,YV,Mesa Airlines Inc.,42,20013
10,YV,Mesa Airlines Inc.,60,23505
11,YV,Mesa Airlines Inc.,48,16760
12,YV,Mesa Airlines Inc.,44,16789

# Q5: What are the fastest flights compared to the distance traveled?

In [12]:
flights %>% 
  select(carrier, air_time, distance) %>% 
  mutate(distance_interval = case_when(
    distance <= 500 ~ "less than 500 miles",
    distance <= 1000 ~ "500 - 1000 miles",
    distance <= 1500 ~ "1000 - 1500 miles",
    TRUE ~ "more than 1500 miles"
  )) %>% 
  group_by(carrier, distance_interval) %>% 
  summarise(min_air_time = min(air_time, na.rm = T)) %>% 
  arrange(carrier, min_air_time)

`summarise()` has grouped output by 'carrier'. You can override using the `.groups` argument.

carrier,distance_interval,min_air_time
<chr>,<chr>,<dbl>
9E,less than 500 miles,21
9E,500 - 1000 miles,72
9E,1000 - 1500 miles,127
9E,more than 1500 miles,209
AA,less than 500 miles,29
AA,500 - 1000 miles,94
AA,1000 - 1500 miles,125
AA,more than 1500 miles,173
AS,more than 1500 miles,277
B6,less than 500 miles,29
B6,500 - 1000 miles,71
B6,1000 - 1500 miles,118
B6,more than 1500 miles,172
DL,less than 500 miles,26
DL,500 - 1000 miles,65
DL,1000 - 1500 miles,105
DL,more than 1500 miles,170
EV,less than 500 miles,20
EV,500 - 1000 miles,55
EV,1000 - 1500 miles,93
F9,more than 1500 miles,195
FL,less than 500 miles,53
FL,500 - 1000 miles,86
HA,more than 1500 miles,580
MQ,less than 500 miles,33
MQ,500 - 1000 miles,68
MQ,1000 - 1500 miles,119
OO,less than 500 miles,50
OO,500 - 1000 miles,132
OO,1000 - 1500 miles,152
UA,less than 500 miles,23
UA,500 - 1000 miles,87
UA,1000 - 1500 miles,119
UA,more than 1500 miles,173
US,less than 500 miles,21
US,500 - 1000 miles,67
US,more than 1500 miles,243
VX,more than 1500 miles,264
WN,less than 500 miles,31
WN,500 - 1000 miles,89
WN,1000 - 1500 miles,142
WN,more than 1500 miles,180
YV,less than 500 miles,32
YV,500 - 1000 miles,69

# RPostgreSQL

In [13]:
# PostgreSQL Database

In [14]:
# 3 dataframes
myFavSeries <- data.frame(
  serie_id = 1:5,
  serie = c("Dark", "Arcane", "Game of Thrones", "Twenty Five Twenty One", "Peaky Blinders"),
  score = c(10, 9, 7, 8, 8)
)

genres <- data.frame(
  genre_id = 1:5,
  genre = c("Drama", "Action", "Mystery", "Comedy", "Crime")
)

bridge <- data.frame(
  serie_id = c(1, 1, 2, 3, 3, 4, 4, 5, 5, 5),
  genre_id = c(1, 3, 2, 1, 2, 1, 4, 1, 2, 5)
)

In [15]:
# install a package
install.packages("RPostgreSQL")
library(RPostgreSQL)

Warning message in install.packages("RPostgreSQL"):
“installation of package ‘RPostgreSQL’ had non-zero exit status”
Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

ERROR: ERROR: Error in library(RPostgreSQL): there is no package called ‘RPostgreSQL’